.counter {
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    position: relative;
    height: 100vh;
}

.counter__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding: 40px 0 0 0;
    color: #ff0055; /* Яркий цвет текста */
    text-shadow: 
    1px 1px 10px rgba(255, 0, 85, 0.9), /* Сияние */
    2px 2px 0 #d60, 
    3px 3px 0 #930, 
    4px 4px 0 #630;
    text-align: center;
    animation: shake 2s infinite;
}

@keyframes shake {
    0%, 100% { transform: translateY(0); }
    25% { transform: translateY(-2px); }
    50% { transform: translateY(2px); }
    75% { transform: translateY(-2px); }
}

.description {
  color: #ff0055; /* Яркий цвет текста */
  text-shadow: 
  1px 1px 4px rgba(255, 0, 85, 0.9), /* Сияние */
  0.5px 0.5px 0 #d60, 
  0.5px 0.5px 0 #930, 
  0.5px 0.5px 0 #630;
  text-align: center;
  margin: 200px auto; /* Центрирование по горизонтали */
  padding: 0;
  animation: appearAndDisappear 3.6s ease infinite, changeDescription 3.5s ease infinite;
  opacity: 0;
  max-width: 200px;
  border-radius: 20px;
}

@keyframes changeDescription {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  40% {
    transform: scale(1.7);
    opacity: 1;
  }
  60% {
    transform: scale(1.7);
    opacity: 1;
  }
  100% {
    transform: scale(20);
    opacity: 0;
  }
}
