.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh; /* Высота на весь экран */
}

.counter__title {
    font-family: 'Inter', 'Arial', sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
    padding: 0;
    color: #ff0055; /* Яркий цвет текста */
    text-shadow: 
    1px 1px 10px rgba(255, 0, 85, 0.9), /* Сияние */
    2px 2px 0 #d60, 
    3px 3px 0 #930, 
    4px 4px 0 #630;
    text-align: center;
    animation: shake 3s infinite;
    max-width: 400px;
}

.counter__title:hover {
  background-color: rgb(51, 47, 47);
}

/* Стили для контейнера с описаниями */
.description{
  text-align: center; /* Центрирование текста */
}

/* Общие стили для описаний */
.description p {
  font-weight: normal;
  transition: font-weight 0.5s ease; /* Плавное изменение жирности */
}

/* Изменение жирности при наведении */
.description p:hover {
  font-weight: bold;
  background-color: rgb(51, 47, 47);
}

@keyframes shake {
    0%, 100% { transform: translateY(0); }
    25% { transform: translateY(-2px); }
    50% { transform: translateY(2px); }
    75% { transform: translateY(-2px); }
}

.description__food {
}