@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('./images/app__avie-main.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  position: absolute;
  top: 80px;
  left: 20px;
  animation: shake 2s infinite;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Inter', 'Arial', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #cc8d61; /* Яркий цвет текста */
    text-shadow: 
    1px 1px 10px rgba(141, 126, 0.9), /* Сияние */
    2px 2px 0 #d60, 
    3px 3px 0 #930, 
    4px 4px 0 #630;
}

@keyframes shake {
  0%, 100% { transform: translateY(0); }
  25% { transform: translateY(-2px); }
  50% { transform: translateY(2px); }
  75% { transform: translateY(-2px); }
}