@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.body {
  margin: 0;
  padding: 0;
  background-image: url('./images/app__avie-main.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  
}

.glitch-layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none; /* Позволяет взаимодействовать с элементами под этим слоем */
  z-index: 10; /* Убедитесь, что слой находится поверх всех других элементов */
  background-image: url('./images/noise__layer.png'); /* Путь к вашему изображению помех */
  background-repeat: repeat; /* Повторение изображения */
  animation: rotate 60s linear infinite;
  opacity: 0.15;
  scale: 8;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  position: absolute;
  bottom: 3%;
  left: 46%;
  transform: translate(-50%, -50%);
  animation: shake 2s infinite;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Inter', 'Arial', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: #cc8d61;
    text-shadow: 
    1px 1px 10px rgba(141, 126, 0.9),
    2px 2px 0 #d60, 
    3px 3px 0 #930, 
    4px 4px 0 #630;
  padding: 0;
}